/* RecipeDisplayPage.css */

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .recipe-card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .reviews {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  button {
    margin-top: 10px;
  }

  