
.content_center {
    margin: auto;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(13, 224, 247); 
    transition: .6s;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: ""; /*provides the circle for the button slider*/
    left: 3.5px; /*position of the circle*/
    bottom: 3.5px; /*position of the circle*/
    background-color: white;
    border-radius: 50%; /*keeps circle from transforming into square*/
    height: 13px;
    width: 13px;
    transition: .6s;

  }
  
  input:checked + .slider {
    background-color: #08cafb; 
  }
  
  input:checked + .slider:before {
    transform: translateX(24px); 
  }
  